<div>
  <p>
    <strong>Login:</strong>
    <%= @user.login %>
  </p>
  <p>  
    <% if @user.avatar.present? %>
      <%= image_tag( @user.avatar, height: '120px', class: "rounded-circle") %>
    <% else %>
      <class="rounded-circle" src="/assets/images/default_avatar.jpg">
    <% end %>
  </p>
  

  <p>
    <strong>About me:</strong>
    <%= @user.about_me %>
  </p>

</div>

<%= form_with(model: @user, url: admin_update_user_path(@user), method: "patch") do |form| %>
    
    <div>
        <%= form.label :status %>
        <%= form.select :status, User.statuses.keys.map{ |key| [key.humanize, key] }, selected: @user.status || :draft %>
    </div>

    <div>
        <%= form.submit %>
    </div>

<% end %>

